@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;700&display=swap');
@import "./null-styles.scss";
@import "./header.scss";
@import "./main.scss";

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 1440px) 1fr;
}

.container {
    display: grid;
    grid-template: auto 1fr minmax(100px, auto) / 1fr;
    
    grid-column: 2 / 3;

    padding: 40px;
    background-color: #141414;
}